@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkText: #232323;
  --whiteText: #F0F0F0;
  --yellow: #FEFE35;
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--whiteText); 
  border-radius: 10px;
}

.button-hover{

}

.button-hover::before{
	border-radius: 50% 50% 0 0;
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0%;
	background: var(--yellow);
	transition: 0.300s;
}
.button-hover:hover::before{
	border-radius: 0;
	height: 150%;
}

.stroke-black-1px{
	-webkit-text-stroke: 1px var(--darkText);
}

.stroke-black-2px{
	-webkit-text-stroke: 2px var(--darkText);
}

.stroke-black-3px{
	-webkit-text-stroke: 3px var(--darkText);
}

.stroke-black-4px{
	-webkit-text-stroke: 4px var(--darkText);
}

.stroke-white-1px{
	-webkit-text-stroke: 1px var(--whiteText);
}

.stroke-white-2px{
	-webkit-text-stroke: 2px var(--whiteText);
}

.stroke-white-3px{
	-webkit-text-stroke: 3px var(--whiteText);
}

.stroke-white-4px{
	-webkit-text-stroke: 4px var(--whiteText);
}

.text-shadow-4px{
	text-shadow: 0px 8px 4px rgba(0,0,0,0.25);
}